@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  --danger: #dc143c;
  --warning: #ffa500;
  --light: #ffffff;
  --success: #049e04;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav_text {
  @apply font-primary text-sm font-semibold text-gray-500 cursor-pointer px-1 py-3 lg:py-0 border-b-2 border-white hover:bg-gray-100 lg:hover:bg-slate-50 lg:hover:border-green-500  rounded-sm transition duration-300;
}

.btn {
  @apply py-2 px-3 font-medium shadow-sm tracking-wider text-sm font-primary hover:opacity-70 whitespace-nowrap transition-colors duration-500;
}

.footer_head {
  @apply font-medium text-xl font-primary mb-3;
}

.footer_list {
  @apply text-sm flex flex-col gap-2 mb-5 font-primary font-medium;
}

.footer_list-item {
  @apply hover:text-primary hover:underline cursor-pointer;
}

.methodInfo {
  @apply py-1 font-primary;
}

.methodNote {
  font-size: 10px;
}

.undernav {
  margin-top: 70px;
}

.fullHeight {
  min-height: 100vh;
}

.highBase {
  margin-bottom: 150px;
}

.disabledBtn {
  opacity: 0.5;
}

.numberInputWithoutControl,
.numberInputWithoutControl::-webkit-inner-spin-button,
.numberInputWithoutControl::-webkit-outer-spin-button {
  /* Chrome, Safari, Edge, Opera */
  -webkit-appearance: none;
  margin: 0;

  /* Firefox */
  -moz-appearance: textfield;
}
