@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav_text {
  @apply font-primary text-sm font-semibold text-gray-500 cursor-pointer px-1 py-3 lg:py-0 border-b-2 border-white hover:bg-gray-100 lg:hover:bg-slate-50 lg:hover:border-primaryLight  rounded-sm transition duration-300;
}

.btn {
  @apply py-2 px-3 font-medium shadow-sm tracking-wider text-sm font-primary hover:opacity-70 whitespace-nowrap transition-colors duration-500;
}

.footer_head {
  @apply font-medium text-xl font-primary mb-3;
}

.footer_list {
  @apply text-sm flex flex-col gap-2 mb-5 font-primary font-medium;
}

.footer_list-item {
  @apply hover:text-primary hover:underline cursor-pointer;
}

.dashboardCard {
  background-image: linear-gradient(135deg, yellow, #05d005, green);
}

.clientEarning {
  @apply text-sm font-primary font-semibold flex justify-center items-center text-center border px-4 py-2;
  font-size: 12px;
}

.moneyTrans {
  @apply flex items-center gap-1 font-semibold text-slate-500 text-sm p-2 border transition-all duration-200 hover:border-none hover:text-slate-100 rounded;
  transition: all ease-in-out linear 1.5s;
}

.moneyTrans:hover {
  background-image: linear-gradient(135deg, yellow, #05d005, green);
}

.earningMethod {
  @apply p-3 bg-white shadow-2xl rounded-md flex flex-col justify-between;
}

.methodInfo {
  @apply py-1 font-primary;
}

.methodNote {
  font-size: 10px;
}

.startTask {
  @apply text-slate-700 font-bold rounded font-primary p-2;
  font-size: 12px;
}

.startTask:hover {
  @apply text-transparent font-semibold;
  background-image: linear-gradient(135deg, yellow, #05d005, green);
  background-clip: text;
}

.recentActivities {
  @apply flex flex-col;
}

.recentactivities {
  margin-bottom: 60px;
}

.undernav {
  margin-top: 70px;
}

.disclaimerMsg {
  font-size: 12px;
}

.underBackNav {
  padding-top: 61px;
}
